.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: transparent;
  min-height: 1px;
  border: 1px solid #E0E0E7;
  border-width: 2px;
}

.footer .text-muted {
  margin: 20px 0;
  color: #093A6B;
  opacity: .75;
}

.footer .container {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.footer-clear {
  height: 20px;
}
