.navbar {
    height: 95px;
    margin-bottom: 20px;
    border: 1px solid #E0E0E7;
    background-color: #FEFEFE;
    border-width: 0 0 2px;
}

.navbar-fixed-top {
    top: 0;
    border-radius: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar > .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0 auto;
    line-height: 100px;
    padding-top: 0;
    font-size: 30px;
    color: #0081AD;
    text-decoration: none;
    background: 0 0;
}
