.tile {
	float: left;
	cursor: pointer;
	background-color:#fff;
	border-radius: 8px;
    height: 60px;
    width: 60px;
	margin: 10px;
}

.flash {
    background-color: #E8FF67;
}
.incorrect {
    background-color: #F67267;
}
.reveal {
    background-color: #00F7BC;
}
