body {
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #F0F0F9) fixed;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #F0F0F9)) fixed;
    background: -webkit-linear-gradient(top, #FFFFFF 0%, #F0F0F9) fixed;
    background: -o-linear-gradient(top, #FFFFFF 0%, #F0F0F9) fixed;
    background: -ms-linear-gradient(top, #FFFFFF 0%, #F0F0F9) fixed;
    background: linear-gradient(to bottom, #FFFFFF 0%, #F0F0F9) fixed;
    font-family: Helvetica, sans-serif;
}

.game-dashboard-wrapper {
    margin-top: 140px;
    text-align: center;
}

.matrix-wrap {
    display: inline-block;
	border-radius: 10px;
	background: #60C4E7;
    height: 400px;
    width: 400px;
    padding: 10px;
    margin-top: 30px;
}

.tile {
	float: left;
	cursor: pointer;
	background-color:#fff;
	border-radius: 8px;
    height: 60px;
    width: 60px;
	margin: 10px;
}

.flash {
    background-color: yellow;
}
.incorrect {
    background-color: red;
}
.reveal {
    background-color: green;
}

button {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;

    display: inline-block;
    padding: 6px 15px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
}

.btn-left {
    margin-right: 5px;
}

.btn-right {
    margin-left: 5px;
}
