body {
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #F0F0F9) fixed;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #F0F0F9)) fixed;
    background: -webkit-linear-gradient(top, #FFFFFF 0%, #F0F0F9) fixed;
    background: -o-linear-gradient(top, #FFFFFF 0%, #F0F0F9) fixed;
    background: -ms-linear-gradient(top, #FFFFFF 0%, #F0F0F9) fixed;
    background: linear-gradient(to bottom, #FFFFFF 0%, #F0F0F9) fixed;
    font-family: Helvetica, sans-serif;
}

.game-dashboard-wrapper {
    margin-top: 130px;
    text-align: center;
}

.matrix-wrap {
    display: inline-block;
	border-radius: 10px;
	background: #46BCE6;
    height: 400px;
    width: 400px;
    padding: 10px;
}

.tile {
	float: left;
	cursor: pointer;
	background-color:#fff;
	border-radius: 8px;
    height: 60px;
    width: 60px;
	margin: 10px;
}

.flash {
    background-color: #E8FF67;
}
.incorrect {
    background-color: #F67267;
}
.reveal {
    background-color: #00F7BC;
}

button {
    color: #fff;
    background-color: #1C82D3;
    border-color: #2e6da4;

    display: inline-block;
    padding: 6px 15px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 7px;
    margin: 20px 0;
}

button:hover {
    background-color: #2e6da4;
}

button:focus {
    outline: none;
}

.btn-left-margin {
    margin-right: 5px;
}

.btn-right-margin {
    margin-left: 5px;
}

.user-message {
    color: #D3411C;
    font-size: 22px;
}
