<div ng-include="'components/navbar/template.html'"></div>

<div class="game-dashboard-wrapper">

    <!-- functional buttons -->
	<div class="center">
		<div class='user-message'>{{userMessage}}</div>
        <button class="btn-left-margin" ng-click="newRound()">Start Game</button>
        <button class="btn-right-margin" ng-click="endRound()">Stop Game</button>
	</div>

    <!-- Game Container -->
	<div class="matrix-wrap">
		<!-- Tiles -->
		<tile ng-repeat="tile in tileStatusList"
			tile="tile" success="success" reveal="revealSuccess" timer="timer">
		</tile>
	</div>

</div>

<div ng-include="'components/footer/template.html'"></div>
