<div ng-include="'components/navbar/template.html'"></div>

<div class="game-dashboard-wrapper">

    <!-- functional buttons -->
	<div class="center">
		<div class='user-message'>{{game.userMessage}}</div>
        <button class="btn-right-margin" ng-click="game.start()">New Game</button>
        <button class="btn-left-margin" ng-click="game.clear()">Stop Game</button>
	</div>

    <!-- Game Container -->
	<div class="board">
		<!-- Tiles -->
		<tile ng-repeat="tile in game._tiles"></tile>
		<div class="board-lock" ng-if="game._lock"></div>
	</div>

</div>

<div ng-include="'components/footer/template.html'"></div>
